{% extends 'view_file_base.html' %}

{% block extra_style %}{{block.super}}
{% if not err%}
<link rel="stylesheet" href="{{MEDIA_URL}}css/mediaelementplayer.css" />
{% endif %}
{% endblock %}

{% block extra_script %}{{ block.super }}
{% if not err%}
<script src="{{MEDIA_URL}}js/mediaelement-and-player.min.js"></script>
<style>
div.video-container{width:950px;height:543px;}
</style>
<script type="text/javascript">
  $('#file-view').html('<div class="video-container">'+
        '<a href="{{raw_path}}" target="_blank">Open video in new tab</a>'+
        '<video src="{{raw_path}}" width="950" height="543"></video>'+
    '</div>');
$('video').mediaelementplayer(/* Options */);
</script>
{% endif %}
{% endblock %}
